[Desktop Entry]
Type=Application
Name=Install HefftorLinux Basic
Comment=Installer for HefftorLinux
Categories=Utility;
Exec=pkexec calamares
Icon=hefftorlinux
