[Desktop Entry]
Categories=Utility;
Comment[en_AU]=Installer for HefftorLinux
Comment=Installer for HefftorLinux
Exec=pkexec /usr/bin/calamares
GenericName[en_AU]=
GenericName=
Icon=hefftorlinux
MimeType=
Name[en_AU]=Install HefftorLinux Basic
Name=Install HefftorLinux Basic
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
